/*@import '0-plugins/1-plugins';*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #231F20; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #231F20; }
  a:hover {
    color: #47B3BF; }

img {
  height: auto;
  width: 100%; }

/* general fonts*/
p {
  font-size: 1.125rem;
  /* 18px */ }

.container {
  margin: 0 auto;
  width: 95%; }

.about-wrapper {
  text-align: center; }

.usp img {
  width: 30px;
  vertical-align: middle; }

section {
  margin-top: 30px; }

@media (min-width: 45em) {
  .container {
    width: 90%; }
  .usp {
    padding: 1.25rem 0;
    /*20px 0*/ }
    .usp p {
      display: inline-block;
      padding-left: 0.3125rem;
      /* 5px */ } }

@media (min-width: 57.5em) {
  .container {
    width: 85%; } }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em; }

.s1 {
  grid-column: span 1; }

.s2 {
  grid-column: span 2; }

.s3 {
  grid-column: span 3; }

.s4 {
  grid-column: span 4; }

.s5 {
  grid-column: span 5; }

.s6 {
  grid-column: span 6; }

.s7 {
  grid-column: span 7; }

.s8 {
  grid-column: span 8; }

.s9 {
  grid-column: span 9; }

.s10 {
  grid-column: span 10; }

.s11 {
  grid-column: span 11; }

.s12 {
  grid-column: span 12; }

@media (min-width: 45em) {
  .m1 {
    grid-column: span 1; }
  .m2 {
    grid-column: span 2; }
  .m3 {
    grid-column: span 3; }
  .m4 {
    grid-column: span 4; }
  .m5 {
    grid-column: span 5; }
  .m6 {
    grid-column: span 6; }
  .m7 {
    grid-column: span 7; }
  .m8 {
    grid-column: span 8; }
  .m9 {
    grid-column: span 9; }
  .m10 {
    grid-column: span 10; }
  .m11 {
    grid-column: span 11; }
  .m12 {
    grid-column: span 12; } }

@media (min-width: 57.5em) {
  .l1 {
    grid-column: span 1; }
  .l2 {
    grid-column: span 2; }
  .l3 {
    grid-column: span 3; }
  .l4 {
    grid-column: span 4; }
  .l5 {
    grid-column: span 5; }
  .l6 {
    grid-column: span 6; }
  .l7 {
    grid-column: span 7; }
  .l8 {
    grid-column: span 8; }
  .l9 {
    grid-column: span 9; }
  .l10 {
    grid-column: span 10; }
  .l11 {
    grid-column: span 11; }
  .l12 {
    grid-column: span 12; } }

.header {
  height: 70px;
  text-transform: capitalize;
  font-weight: 500; }
  .header li {
    display: inline-block; }
  .header li {
    margin-left: 0.5em; }
  .header img {
    width: 139px;
    height: 70px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav .icons {
    margin-left: auto;
    cursor: pointer; }
    .nav .icons li:hover {
      color: #47B3BF; }
    .nav .icons i {
      padding: 0 0.5em; }

.wcl-header {
  background: #BC081C;
  color: #F5F5F5; }

.wcl-links,
.wcl-brand-dark,
.wc-header {
  display: none; }

@media (min-width: 66.25em) {
  .wc-header {
    display: block;
    background: #BC081C; }
  .wc-links {
    margin-right: auto; }
    .wc-links a {
      color: #F5F5F5; }
  .wcl-header {
    background: #ffffff;
    color: #231F20;
    -webkit-box-shadow: 0px 10px 44px -30px #000000;
    box-shadow: 0px 10px 44px -30px #000000; }
  .wcl-brand-light {
    display: none; }
  .wcl-links,
  .wcl-brand-dark {
    display: block; }
  .wcl-links,
  .wc-links {
    padding-left: 1em; }
  .fa-bars {
    display: none; } }

.btn {
  padding: 0.625rem 1.25rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #F5F5F5;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-primary {
  background: #00838F;
  border: 1px solid #00838F; }
  .btn-primary:hover {
    background: #47B3BF;
    border: 1px solid #47B3BF; }

.btn-secondary {
  background: #263238;
  border: 1px solid #263238; }
  .btn-secondary:hover {
    background: #424242;
    border: 1px solid #424242; }

.btn-outline {
  background-color: transparent;
  border: 2px solid #00838F;
  color: #00838F; }
  .btn-outline:hover {
    background: #47B3BF; }

.link {
  color: #00838F; }
  .link:hover {
    color: #47B3BF;
    border-bottom: 2px solid #47B3BF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

.card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative; }
  .card .btn {
    display: block; }

.card-content {
  text-align: center; }

.card-price {
  color: #BC081C;
  font-weight: bold;
  font-size: 20px; }

.card-price-info {
  font-size: 14px; }

.card-cta {
  text-align: center; }

.card-banner {
  background: #008591;
  width: 100%;
  position: absolute;
  color: #f5f5f5;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px; }

.card-extra-info {
  text-align: center;
  font-size: 12px; }

.card-content,
.card-cta,
.card-extra-info {
  padding: 10px; }

.card-extra-info p {
  font-size: 14px; }

.range-card {
  margin: 30px 0; }
  .range-card .card-img {
    width: 10em;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle; }
  .range-card .card-content {
    display: inline-block;
    text-align: center; }

.card-icon {
  padding: 1.25em 1em;
  cursor: pointer; }

.hidden-overlay {
  display: none;
  background: white;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.hero {
  height: 60vh;
  background: #263238;
  /* IE Fallback */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 50, 56, 0.45)), to(rgba(38, 50, 56, 0.45))), url("../../img/hero.jpg") no-repeat center;
  background: -webkit-linear-gradient(rgba(38, 50, 56, 0.45), rgba(38, 50, 56, 0.45)), url("../../img/hero.jpg") no-repeat center;
  background: -o-linear-gradient(rgba(38, 50, 56, 0.45), rgba(38, 50, 56, 0.45)), url("../../img/hero.jpg") no-repeat center;
  background: linear-gradient(rgba(38, 50, 56, 0.45), rgba(38, 50, 56, 0.45)), url("../../img/hero.jpg") no-repeat center;
  background-size: cover;
  position: relative; }

.hero-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  text-align: center; }
  .hero-content .location-wrapper {
    color: #f5f5f5;
    font-weight: 500;
    margin: 2em 0; }
    .hero-content .location-wrapper h1 {
      font-size: 1.5rem; }
    .hero-content .location-wrapper .location {
      font-size: 2.25rem; }
  .hero-content .hero-search .form-check {
    color: #F5F5F5;
    text-align: left; }
  .hero-content .btn {
    padding: 1rem 10rem;
    font-size: 0.85rem;
    margin: 1.25rem 0; }

/* Quick Links */
.van-leasing {
  background: url("../../img/links/van-leasing.jpg") no-repeat center; }

.special-offers {
  background: url("https://www.whatcar.com/car-leasing/images/homepage/mosaic4.jpg") no-repeat center; }

.green-cars {
  background: url("https://www.whatcar.com/car-leasing/images/homepage/mosaic1.jpg") no-repeat center; }

.about-us {
  background: url("https://www.whatcar.com/car-leasing/images/homepage/mosaic2.jpg") no-repeat center; }

.in-stock-cars {
  background: url("https://www.whatcar.com/car-leasing/images/homepage/mosaic6.jpg") no-repeat center; }

.lifestyle-card {
  /*background: $prime-blue-dark;*/
  background-size: cover;
  height: 20rem;
  position: relative; }

.label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  color: #F5F5F5;
  background: rgba(188, 8, 28, 0.6);
  padding: 0.625rem;
  /* 10px */
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  cursor: pointer; }
  .label:hover {
    background: #BC081C; }
  .label .label-title {
    text-transform: uppercase;
    font-weight: 600; }
  .label .label-cta {
    color: #F5F5F5; }

.van-leasing,
.special-offers,
.green-cars,
.about-us,
.in-stock-cars {
  margin-top: -12px; }

/* page break */
.guide {
  background: #BC081C;
  background: url("https://www.whatcar.com/car-leasing/images/homepage/lease-dog.jpg") no-repeat center;
  background-size: cover;
  height: 12.5rem;
  /* 200px */
  position: relative; }

.overlay {
  background: rgba(0, 0, 0, 0.6);
  color: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 10px;
  height: 100%; }

.overlay-title {
  text-transform: uppercase;
  font-weight: 600; }

@media (min-width: 45em) {
  .label {
    width: 50%; }
    .label:hover {
      width: 55%; }
  .van-leasing,
  .special-offers,
  .green-cars,
  .about-us,
  .in-stock-cars {
    margin-left: -12px; } }

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

/* checkbox */
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem; }

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem; }
