// Variables
//  ============================================================================
//Colours
//reds
$prime-red: #BC081C;
$prime-red-light: #CB2C13;
$prime-red-lighten: #CE4B59;
$prime-red-dark: #A02131;
$prime-red-darken: #840000;

//blues
$prime-blue: #00838F;
$prime-blue-light: #47B3BF;
$prime-blue-lighten: #ACD2D6;
$prime-blue-dark: #007882;
$prime-blue-darken: #006069;

//yellows
$prime-yellow: #f9CC2E;
$prime-yellow-light: #FBDD73;
$prime-yellow-lighten: #FBE28B;
$prime-yellow-dark: #F8C100;
$prime-yellow-darken: #CCA726;

//greens
$prime-green: #32A530;
$prime-green-light: #69BD68;
$prime-green-lighten: #8FCD8E;
$prime-green-dark: #298828;
$prime-green-darken: #206A1F;

//darks
$prime-black: #231F20;
$prime-black-light: #424242;
$prime-black-dark: #263238;
$prime-black-darken: #000A12;

//lights
$prime-white: #F5F5F5;
$prime-white-light: #9E9E9E;
$prime-white-lighten: #E0E0E0;
$prime-white-dark: #757575;

//Fonts
$font-stack: 'Helvetica Neue', 'Tahoma', sans-serif;

//General
$font-size: 16px;
$line-height: 1.5;
$letter-spacing: -1px;
